.button {
    @apply px-4 py-3 rounded font-bold border cursor-pointer transition-colors;
    border-color: transparent;
}

.button-primary {
    background-color: rgb(var(--color-primary-darker));
    border-color: rgb(var(--color-primary));
}

.button-primary:hover {
    background-color: rgb(var(--color-primary));
}

.button-secondary {
    background-color: rgba(var(--color-gray), 0.2);
    border-color: rgba(var(--color-gray), 0.2);
}

.button-secondary:hover {
    background-color: rgba(var(--color-gray), 0.4);
}

.button-slim{
    background-color: rgb(var(--color-gray), 0.2);
    border-color: rgba(var(--color-gray), 0.2);
    padding: 5px;
    border-radius: 10px;
}
.button-slim:hover {
    background-color: rgba(var(--color-gray), 0.4);
}

.button-slim-primary{
    background-color: rgb(var(--color-primary-darker));
    border-color: rgb(var(--color-primary));
    padding: 5px;
    border-radius: 10px;
}

.button-slim-primary:hover{
    background-color: rgb(var(--color-primary));
}


.button-pill{
    background-color: rgb(var(--color-gray), 0.2);
    @apply rounded-full w-fit h-2
}
.button-pill:hover{
    background-color: rgb(var(--color-gray), 0.4);
}

.button-pill-active{
    background-color: rgb(var(--color-primary));
    @apply rounded-full w-fit h-2
}

.button-pill-active:hover{
    background-color: rgb(var(--color-primary-darker));
}

.button-pill-new{
    border-color: rgb(var(--color-gray), 0.2);
    @apply rounded-full w-fit h-2 border-dashed border-4
}

.button-pill-new:hover{
    @apply border-solid
}
