html {
    background-color: #18191c;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
}

body {
    @apply h-screen flex flex-col overflow-hidden;

}

livechat-titlebar {
    @apply block shrink-0;
}

body > main {
    @apply flex-1 min-h-0 flex flex-col overflow-hidden;
}

body > main > header,
body > main > #group-filter,
body > main > #search-section,
body > main > #selection-bar {
    @apply shrink-0;
}

:root {
    --color-primary: 151, 103, 241;
    --color-primary-lighter: 151, 103, 241;
    --color-primary-darker: 137, 103, 241;
    --color-gray: 131, 132, 134;
    --color-titlebar: 30, 31, 34;
    --color-dark: 14, 15, 17;
    --color-green: 97, 196, 84;
    --color-yellow: 244, 189, 80;
    --color-red: 237, 106, 94;
}